  @charset "UTF-8";
  @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
    * {
        box-sizing:border-box;
    }

    body{
        margin: 0;
        background-color: #FFFFFF;
    }
    ul{
        list-style-type: none;
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    /*헤더*/
    /*헤더 네비게이션*/
    .header_nav {
        display: flex;
        position: absolute;
        right: 0;
        top: 0; 
        gap: 10px;
        margin-right: 20px;

    }
    
    .header_nav > li:first-child {
      margin-top: 10px;
    }

    .header_nav > li:nth-child(2) {
      margin-top: 10px;
    }

    .header_nav > li > a:hover{
      color: #21AC90;
    }

    .header_logo {
        margin-top: 30px;
        text-align: center;

    }
    
    .header_logo > img {
      margin-left: 35px;
    }

    /*메인*/
    .main {
    	position : relative;
    	margin-top: 30px;
    }
    
    /*메인 네비게이션*/
    .main_nav {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        background-color: #21AC90;
        color: #fffafa;
    }

    .main_nav_li{
        margin: 19px 0;
        font-size: 20px;
    }
    
    /* ----------------------- 이거 수정 ------------------------- */
    .main_nav_li:hover{
      background-color: #A52F59;
      border-radius: 10px;
      padding: 8px 12px;
      transition: 0.25s;
      letter-spacing: 2px;
    }
    /* -------------------------------------------------------- */

    /*테이블*/
    /*테이블 전체*/
    table{
      width: 100%;
      border: 1px solid #bcbcbc;
      margin-top: 20px;
      border-top : none;
    }

    /* ---------------버튼부 수정 --------------------- */
    .write_btn {

      margin-left: 10px;
      padding: 8px 15px;
      border: none;
      border-radius: 5px;
      font-family: "paybooc-Light", sans-serif;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      font-weight: 600;
      transition: 0.25s;
      background-color: #ce6d39;
      color: #ffeee4;
    }

    .write_btn:hover {
      letter-spacing: 2px;
      transform: scale(1.2);
      cursor: pointer;
    }
    /*--------------------------------------------*/

    .filter{
      margin : 0 0 0 10px;
      height: 23px;
    }
    
    th {
    	background-color : #D9D9D9;
    }

    td {
    	text-align : center;
    	padding: 5px
    }

    /* ---------------------- 이부분 수정 ----------------*/
    .search_wrapper{
      position: absolute;
      top: 1px;
      right: 130px;
      width: 400px;
      display: inline-block;
    }
    
    .search_input {
      width : 100%;
      border: 1px solid #bbb;
      border-radius: 5px;
      padding: 15px 12px;
      font-size: 14px;
    }

    .search_btn{
      position: absolute;
      top: 1px;
      right: 121px;
      width: 50px;
      height: 32px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      font-weight: 600;
      background-color: #bbb;
      color: #ffffff;
    }

    .filter_select{
      position: absolute;
      top: 1px;
      right: 0;
      margin-right: 10px;
      width: 70px;
      height: 29px;
      -webkit-appearance: none; 
      -moz-appearance: none;
      appearance: none;
      background: url(../arrow.svg) no-repeat 93% 53%;
      background-size: 15px 10px;
      padding-left: 5px;
      border-radius: 5px;
      border-color: #bbb;
    }
    /* -----------------------------------------------*/