@charset "UTF-8";
    * {
        box-sizing:border-box;
    }

    body{
        margin: 0;
    }

    ul{
        list-style-type: none;
    }

    a{
        color: inherit;
        text-decoration: none;
    }
    
    /*테이블*/
    /*테이블 전체*/
    table {
    	width: 100%;
        border: 1px solid #bcbcbc;
        margin-top: 20px;
    }
    
    td {
     text-align : center;
    }

    /*헤더*/
    /*헤더 네비게이션*/
    .header_nav {
        display: flex;
        position: absolute;
        right: 0;
        top: 0; 
        gap: 10px;
        margin-right: 20px;

    }

    .header_logo {
        margin-top: 30px;
        text-align: center;

    }

    /*메인*/
    .main{
    	position: relative;
    }
    /*메인 네비게이션*/
    .main_nav {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        border-top:1px solid;
        border-bottom:1px solid;
        border-color: #1BBC9B;
    }

    .main_nav_li{
        margin: 19px 0;
        font-size: 20px;
    }

    .main_nav_li:last-child {
        color:#A52F59;
    }

    /* 글쓰기 버튼 */
    .write_btn{
    	position : absolute;
    	top: 0;
    	right: 0;
    	margin-right: 10px;
    	height: 23px;
    }
    
    .filter{
    	margin: 0 0 0 10px;
    	height: 23px;
    }
    
    .search_input {
    	width: 300px;
  
    	
    }
    
    .search_btn{

    }
    
    .filter_select{
 		margin-right: 10px;
    }
